# Importing Libraries

In [1]:
import pandas as pd
from dash import Dash, html, dcc
import plotly.express as px

In [2]:
dataset = pd.read_excel("./data/dataset.xlsx");

In [3]:
dataset.head()

       product  price  quantity  total sales       date region
0  pink morsel      3       546         1638 2018-02-06  north
1  pink morsel      3       549         1647 2018-02-06  south
2  pink morsel      3       577         1731 2018-02-06   east
3  pink morsel      3       519         1557 2018-02-06   west
4  pink morsel      3       529         1587 2018-02-07  north

# Creating Dash App

In [4]:
df = pd.DataFrame(dataset)

In [5]:
df = df[['total sales', 'date', 'region']]
df.head()

   total sales       date region
0         1638 2018-02-06  north
1         1647 2018-02-06  south
2         1731 2018-02-06   east
3         1557 2018-02-06   west
4         1587 2018-02-07  north

In [6]:
df = pd.pivot_table(df, values = 'total sales', index = 'date', aggfunc = np.sum, sort = True)
df.head()

            total sales
date
2018-02-06         6573
2018-02-07         6462
2018-02-08         6342
2018-02-09         6717
2018-02-10         6543

In [7]:
fig = px.line(df, x = df.index, y = 'total sales')

In [8]:
# initialise app
app = Dash(__name__)

colors = {
    'background': '#111111',
    'text': '#000080'
}

# app layout
app.layout = html.Div([
    html.H1(
        children='Daily Total Sales [2018 - 2022]',
        style={
            'textAlign': 'center',
            'color': colors['text']
        }
    ),
    
    dcc.Graph(
            figure = fig
    )
])

# run the app
if __name__ == '__main__':
    app.run(debug=True)